.e{
    height:100vh;
    display: flex;
    justify-content: center;
}

.e-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.e-right {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.e-card {
    width: 70%;
}

.e-img {
    width: 100%;
    border-radius: 15px;
}

@media screen and (max-width: 530px) {
    .e {
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        margin: 5em 0;
    }
    .a-title {
        font-size: 150%;
        padding: 10px;
    }
} 